* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
i {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
.navbar {
  background-color: rgb(3, 3, 72);
  color: #fff;
  padding: 25px 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.cart {
  background-color: #fff;
  color: black;
  padding: 5px;
  font-size: 30px;
  border-radius: 4px;
  position: relative;
}
.cartAmount {
  background-color: red;
  color: white;
  font-size: 16px;
  position: absolute;
  top: -15px;
  right: -10px;
  padding: 3px;
  border-radius: 3px;
}
.shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 10px;
}

.item {
  border: 2px solid black;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.price-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
}

.bi-dash-lg {
  color: red;
}

.bi-plus-lg {
  color: green;
}
.text-center {
  text-align: center;
  margin-bottom: 20px;
  /* justify-content: center; */
}
.Homebtn,
.checkout,
.removeAll {
  background-color: black;
  color: #fff;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.checkout {
  background-color: green;
}
.removeAll {
  background-color: red;
}

.bi-x-lg {
  color: red;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}

.cart-item {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
}
.title-price-x {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-item-price {
  background-color: black;
  color: #fff;
  border-radius: 4px;
  padding: 3px 2px;
}
